<?xml version="1.0"?>
<robot name="map_world" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="ground_color">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>

  <link name="ground">
    <visual>
      <geometry>
        <box size="100 100 0.01"/>
      </geometry>
      <material name="ground_color"/>
    </visual>
    <collision>
      <geometry>
        <box size="100 100 0.01"/>
      </geometry>
    </collision>
  </link>

  <xacro:include filename="$(find fly_simulation)/urdf/quadrotor.xacro"/>

  <xacro:quadrotor parent_link="ground">
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
  </xacro:quadrotor>

</robot>
