<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="quadrotor" params="parent_link *origin">
    <link name="quad_base_link">
      <visual>
        <geometry>
          <box size="0.3 0.3 0.1"/>
        </geometry>
        <material>
          <color rgba="0.2 0.8 0.2 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.3 0.3 0.1"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
      </inertial>
    </link>
    <joint name="quad_base_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="quad_base_link"/>
      <xacro:insert_block name="origin"/>
    </joint>
  </xacro:macro>

</robot>
